<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template for single project</title>
</head>
<body>
    <h1>Info about project</h1>
    <h3>Project n.{{ project.id }}</h3>
    <p>{{ project.title }}</p>
    <br>
    <ul>
        {% for tag in project.tags.all %}
        <li>{{ tag }}</li>
        {% endfor %}
    </ul>
    <em>{{ project.description }}</em>

    <div class="singleProject__toolStack">
      {% for tag in project.tags.all %}
          <a href="{% url 'tag_filter' tag.slug %}" class="tag tag--pill tag--sub tag--lg">{{tag}}</a>
      {% endfor %}
    </div>

</body>
</html>